.deadline {
  margin: auto;
  height: 70%;
  color: white;
  border-radius: 20px;
}
.deadline h1 {
  text-align: center;
  padding: 10px;
  margin: auto;
  color: white;
}

#demo {
  text-align: center;
  margin: auto;
  font-size: 70px;
  font-style: bold;
  color: red;
}
