* {
  margin: 0;
  padding: 0
}


body {
  font-family: "Lato", sans-serif;
  background-color: #15443a;
}


.topnav {
  overflow: hidden;
  background-color: #03b98f;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 17px 15px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #06d652;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
