
.request-form {
  padding: 20px;
  width: 60%;
  margin: auto;
}

.ready-application {
  padding: 20px
  margin: auto;
}

.ready-pynote {
  width: 60%;
  margin: auto;
}

.ready-pynote a {
  text-decoration: none;
  color: #5087e0;
}

input, select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
  background-color: #00a200;
  color: white;
}

.master-info {
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  background-color: #256e59;
  color: white;
}

.master-info .pynote-logo {
 float: right;
}


.background-PyNote-form {
  background-color: #207563;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.background-PyNote-form .top-text {
  margin: auto;
}

.master-info .items {
  display:inline-block
  text-decoration: none;
  padding: 30px;
  background-color: #a4d0c6;
  border-radius: 10px;
}

.master-info .disabled {
  text-decoration: none;
  padding: 20px;
  background-color: #a4d0c6;
  border-radius: 20px;
}



:root {
--gutter: 30px;
}

.app {
padding: var(--gutter) 0;
display: grid;
grid-gap: var(--gutter) 0;
grid-template-columns: var(--gutter) 1fr var(--gutter);
align-content: start;
}

.hs {
display: grid;
grid-gap: calc(var(--gutter) / 2);
grid-template-columns: repeat(6, calc(25% - var(--gutter) * 2));
grid-template-rows: minmax(30px, 1fr);

overflow-x: scroll;
scroll-snap-type: x proximity;
padding-bottom: calc(.75 * var(--gutter));
margin-bottom: calc(-.10 * var(--gutter));
}



ul {
list-style: none;
padding: 0;
}


.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: list-item;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2db686;
  border-radius: 8px;

}





/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
