<!DOCTYPE html>
<html>
<head>
  <title>FuchiCorp</title>
<link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
<link rel="stylesheet" href="/static/main/top.css" type="text/css">
<link rel="stylesheet" href="/static/main/footler.css" type="text/css">

<link rel="stylesheet" href="/static/main/menu.css" type="text/css">
<link rel="stylesheet" href="/static/error.css" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a class="active" href="{{ url_for('login') }}">login</a>
</div>
</head>
<body >
  <center>
    <div class="box-disabled">
      <h1>Thank you for applying this course currently your account is disabled.</h1>
      <a href="https://www.linkedin.com/in/farkhod-sadykov/"><h4>Click to contact administrator</h4></a>
    </div>
  </center>
</body>

</html>
