
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FS Coding</title>
    <link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
     <link href="static/new_style.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/animation/animation.css">
  </head>

  <style media="screen">
    body {
      background-color: #15443a;
    }
    .marketing {
      color: white;
    }
  </style>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <div class="topnav">
              <a class="btn btn-lg btn-success" href="login">Sign in</a>
            </div>
          </ul>
        </nav>

      </div>
        <div class="jumbotron">
          <h1 class="animated jackInTheBox">FuchiCorp</h1>
          <p class="lead"></p>
          <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a></p>
        </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Python</h4>
          <p>Learn how to use Python with Flask, Pandas and other modules</p>

          <h4>Machine Learning</h4>
          <p>Before starting machine learning class make sure you are good on python.</p>

          <h4>Bash Scripting</h4>
          <p>This course will teach you how to use shell scripts and utilities for practical system administration of Linux operating systems.</p>
        </div>

        <div class="col-lg-6">
          <h4>Ansible</h4>
          <p>If you’re new to Ansible this series will help you learn the basics.</p>

          <h4>Jenkins Class</h4>
          <p>In Jenkins class you will learn how works continuous delivery continuous deployment.</p>

          <h4>Linux CentOS 6/7</h4>
          <p>Learn how to use CentOS, from beginner basics to advanced techniques, with online video tutorials taught by industry experts.</p>

        </div>
      </div>
      <h5><a href="https://www.linkedin.com/in/farkhod-sadykov/">Find me</a></h5>
      <footer class="footer">

        <p>&copy; FuchiCorp 2019</p>
      </footer>

    </div>
  </body>
</html>
