<!DOCTYPE html>
<html>
<head>
   <title>FuchiCorp</title>
<link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
<link rel="stylesheet" href="/static/main/top.css" type="text/css">
<link rel="stylesheet" href="/static/main/footler.css" type="text/css">
<link rel="stylesheet" href="/static/main/menu.css" type="text/css">
<link rel="stylesheet" href="/static/pynote/style.css" type="text/css">

<link rel="stylesheet" href="/static/pynote/scrollList.css" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a class="active" href="{{ url_for('logout') }}">logout</a>
    <a href="{{ url_for('raiting') }}">Raiting</a>
  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</div>
</div>
</head>
  </table>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('chat') }}">Chating</a>
    <a href="{{ url_for('videos') }}">Videos</a>
    <a href="{{ url_for('work') }}">Work</a>
    <a href="{{ url_for('contact') }}">Contact me</a>
    <a href="{{ url_for('pynote') }}">PyNote</a>
  </div>

  <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
  }


  var myVar;

  function loadingFunc() {
    document.getElementById("notLoading").id = 'loader'
    document.getElementById("requestPynote").style.display = 'none'
    myVar = setTimeout(showPage, 200000);
  }

  function showPage() {
    document.getElementById("loader").id = "notLoading";
  }
  
  </script>

</head>
<body>
  <div id="notLoading" ></div>

  <div class="master-info">
    <ul class="hs">
      {% for item in servers %}
      <div class="item">
        <h4>ID: {{ item.id }}</h4>
        <h4>Name: {{ item.server_name }}</h4>
        <h4>Port: {{ item.port }}</h4>
        <a style="text-decoration: none; color: white;" href="{{ item.pynotelink }}">{{ item.pynotelink }}</a>
      </div>
      {% endfor %}
  </ul>
  </div>



  <div class="request-form" style='display:block' id="requestPynote">
    <div class="background-PyNote-form">
      <form method="POST" onsubmit="loadingFunc()">

        <div class="top-text">
          <h2>Request a PyNote from Kuber Cluster</h2>
        </div>

        <h4>Please enter informations for PyNote</h4>
        <br>
        <h5>Server Name</h5>
        <input type="text" name="server-name"  onfocus="this.value=''" placeholder="Enter server name" required>

        <h5>Password for Notebook</h5>
        <input type="password" name="password"  onfocus="this.value=''" placeholder="Please enter the password" required>

        <input  type="submit" onsubmit="loadingFunc()"  value="Create PyNote Platform" >
        <h1 style="display:none;" id="myDiv" class="animate-bottom"> Has been created pynote.</h1>
      </form>
    </div>
  </div>

  <div class="ready-pynote">
    <a href="https://www.linkedin.com/in/abdugofir-sharif-5394a516a?trk=author_mini-profile_image">Can't access to Servers?</a>
  </div>
</body>


</html>
