<!DOCTYPE html>
<html>
<head>
  <title>FuchiCorp</title>
<link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
<link rel="stylesheet" href="/static/main/top.css" type="text/css">
<link rel="stylesheet" href="/static/main/footler.css" type="text/css">
<link rel="stylesheet" href="/static/main/menu.css" type="text/css">
<link rel="stylesheet" href="/static/video/video.css" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a class="active" href="{{ url_for('logout') }}">logout</a>
  <a href="{{ url_for('raiting') }}">Raiting</a>
  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</div>
</div>


<h2>Class Records</h2>
</head>

<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('dashboard') }}">Dashboard</a>
  <a href="{{ url_for('chat') }}">Chating</a>
  <a href="{{ url_for('videos') }}">Videos</a>
   
  <a href="{{ url_for('contact') }}">Contact us</a>
  <a href="{{ url_for('contact') }}">PyNote</a>
</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
    width: 100%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

</style>
</head>
<body>

<div class="vertical-menu">
  <a href="https://www.youtube.com/embed/LlXdIn_i8RA">First Class Hello World</a>
</div>



<footer class="footer">
  <p>&copy; FuchiCorp 2019</p>
</footer>

</html>
